<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
body {
}
h1 {
  color: white;
}
  header {
    background-color: pink;
    width: 20%;
    height: 40px;
  }
  footer {
    background-color: purple;
    width: 20%;
    height: 50px;
  }
</head>
</html>
